Flask==1.1.2
Flask-JWT-Extended==3.24.1
Flask-Script==2.0.6
kubernetes==10.0.1
pytest==5.3.4
pytest-cov==2.7.1
requests==2.25.0
requests-mock==1.6.0
selenium==3.141.0
WTForms==2.2.1
gevent==1.5.0
greenlet==1.0.0
gunicorn==21.0.0
behave==1.2.6
boto3==1.16.7
botocore==1.19.7
flake8==3.7.7
flake8-polyfill==1.0.2
spp-cognito-auth @ git+https://github.com/ONSdigital/spp-cognito-auth.git@a428c0af471710e885cad1056074ffb9db3456b9
spp-logger @ git+https://github.com/ONSdigital/spp-logger.git@609c91c85fb9f4a3c75c06c4eec60ad81034dbd5
immutables==0.15
