Flask==1.1.2
Flask-JWT-Extended==3.24.1
Flask-Script==2.0.6
kubernetes==10.0.1
pytest==5.3.4
pytest-cov==2.7.1
requests==2.25.0
requests-mock==1.6.0
selenium==3.141.0
WTForms==2.2.1
gevent==1.5.0
greenlet==0.4.15
gunicorn==19.9.0
behave==1.2.6
boto3==1.16.7
botocore==1.19.7
flake8==3.7.7
flake8-polyfill==1.0.2
spp-cognito-auth @ git+https://github.com/ONSdigital/spp-cognito-auth.git@9e2ac801e4b752ea0a264e7f840c435f787af0a2
