{% extends "base.html" %}
​
{% block title %}Contributor Details{% endblock title %}
​
{% block page_header %}
​
    Data Clearing
​
{% endblock page_header %}

{% block content %}
​
​<div class="mainContent">
    <div class="grid">
        <div class="grid__col col-11@m">

            <h1>{{ contributor_details['referencename'] }}</h1>

            <dl class="metadata metadata__list grid grid--gutterless u-cf u-mb-s" title="Form details" aria-label="Form details">
                <dt class="metadata__term grid__col col-2@m u-mt-no">Reference:</dt>
                <dd class="metadata__value grid__col col-10@m u-mt-no">{{ ruref }}</dd>
                <dt class="metadata__term grid__col col-2@m u-mt-no">Survey:</dt>
                <dd class="metadata__value grid__col col-10@m u-mt-no">{{ survey }}</dd>
                <dt class="metadata__term grid__col col-2@m u-mt-no">Period:</dt>
                <dd class="metadata__value grid__col col-10@m u-mt-no">{{ period }}</dd>
                <dt class="metadata__term grid__col col-2@m u-mt-no">Cell:</dt>
                <dd class="metadata__value grid__col col-10@m u-mt-no">{{ contributor_details['cellnumber'] }}</dd>
                <dt class="metadata__term grid__col col-2@m u-mt-no">Frozen Employment:</dt>
                <dd class="metadata__value grid__col col-10@m u-mt-no">{{ contributor_details['frozenemployment'] }}</dd>
                <dt class="metadata__term grid__col col-2@m u-mt-no">Frozen SIC 2003:</dt>
                <dd class="metadata__value grid__col col-10@m u-mt-no">{{ contributor_details['frozensicoutdated'] }}</dd>
                <dt class="metadata__term grid__col col-2@m u-mt-no">Frozen SIC 2007:</dt>
                <dd class="metadata__value grid__col col-10@m u-mt-no">{{ contributor_details['frozensic'] }}</dd>
            </dl>

            <p class="u-bb u-pb-s">
                <span title="Status " class="{{ status_colour }}">{{ contributor_details['status'] }}</span>
            </p>

            <section role="region" class="tabs">
                <h2 class="tabs__title">Tabs</h2>

                <ul class="tabs__list tabs__list--row">
                    <li id="tabId1Item" class="tab__list-item">
                        <a href="#tabId1" class="tab tab--row" data-ga="click" data-ga-category="tabs" data-ga-action="Show: Current Data" data-ga-label="Show: Current Data" aria-selected="true">Current Data</a></li>
                    <li id="tabId2Item" class="tab__list-item">
                        <a href="#tabId2" class="tab tab--row" data-ga="click" data-ga-category="tabs" data-ga-action="Show: Historic Data" data-ga-label="Show: Historic Data" aria-selected="false">Historic Data</a></li>
                </ul>

                <form method="post" id="responseForm" action="{{ url_for('view_form.view_form', inqcode=survey, period=period, ruref=ruref) }}">

                    <section id="tabId1" class="tabs__panel">

                        <table id="basic-table" class="table ">

                            <thead class="table__head">
                                <tr class="table__row">
                                    <th scope="col" class="table__header col-1@m">Number</th>
                                    <th scope="col" class="table__header col-4@m">Question</th>
                                    <th scope="col" class="table__header col-2@m">Response</th>
                                    <th scope="col" class="table__header col-2@m">Adjusted Response</th>
                                    <th scope="col" class="table__header ">Question Status</th>
                                </tr>
                            </thead>

                            <tbody class="table__body">

                                {% for datum in data['form_validation_outputs'] %}
                                    <tr class="table__row">
                                        {% if datum['validation_info']|length > 0 %}
                                            <td class="table__cell ">
                                                <p class="field">
                                                    <label for="{{ datum['questioncode'] }}"> {{ datum["displayquestionnumber"] }} </label>
                                                </p>
                                            </td>

                                            <td class="table__cell ">
                                                <p class="field">
                                                    <label for="{{ datum['questioncode'] }}"> {{ datum["displaytext"] }} </label>
                                                </p>
                                            </td>

                                            <td class="table__cell ">
                                                {% if datum['type'] == 'NUMERIC' %}
                                                    <p class="field">
                                                        <input name="{{ datum['questioncode'] }}" value="{{ datum['response'] }}" type="number" id="{{ datum['questioncode'] }}" class="input input--text input-type__input input--w-10">
                                                    </p>
                                                {% else %}
                                                    <p class="field">
                                                        <input name="{{ datum['questioncode'] }}" value="{{ datum['response'] }}" type="text" id="{{ datum['questioncode'] }}" class="input input--text input-type__input input--w-10">
                                                    </p>
                                                {% endif %}
                                            </td>

                                            <td class="table__cell ">
                                                <p class="field">
                                                    <label for="{{ datum['questioncode'] }}"> {{ datum["adjustedresponse"] }} </label>
                                                </p>
                                            </td>

                                            <td class="table__cell ">
                                                <div class="panel {{ datum['panel'] }} panel--simple">
                                                    <div class="panel__body">

                                                        {% for output in datum['validation_info'] %}

                                                            {% if output['overridden'] == True %}
                                                                <span class="checkbox js-password-toggle-wrap checkbox--toggle u-mt-no u-mb-s">
                                                                    <input type="checkbox" id="{{output['validationoutputid']}}" class="checkbox__input js-checkbox js-password-toggle to-u-bg-w" name="override-checkbox" checked>
                                                                    <label id="label-{{output['validationoutputid']}}" class="checkbox__label to-u-bg " for="{{output['validationoutputid']}}"><strong>Overridden - </strong>'{{ output["description"] }}'</label>
                                                                </span>
                                                            
                                                            {% else %}
                                                                <p class="panel__error u-mb-no">
                                                                    {% if output['severity'] == 'W' %}
                                                                    <strong>Warning - </strong> {{output['description']}} 
                                                                </p>

                                                                <span class="checkbox js-password-toggle-wrap checkbox--toggle u-mt-no u-mb-s">
                                                                    <input type="checkbox" id="{{output['validationoutputid']}}" class="checkbox__input js-checkbox js-password-toggle to-u-bg-w " name="override-checkbox">
                                                                    <label id="label-{{output['validationoutputid']}}" class="checkbox__label to-u-bg" for="{{output['validationoutputid']}}"><strong>Override </strong> <span class="u-vh">{{ output["description"] | lower }} </span></label>
                                                                </span>
                                                                <br>

                                                                {% else %}
                                                                <p class="panel__error u-mb-no">
                                                                    <strong>Error - </strong> {{output['description']}}
                                                                </p>
                                                                <br>
                                                            
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </td>

                                        {% else %}

                                            <td class="table__cell ">
                                                <p class="field">
                                                    <label for="{{ datum['questioncode'] }}"> {{ datum["displayquestionnumber"] }} </label>
                                                </p>
                                            </td>

                                            <td class="table__cell ">
                                                <p class="field">
                                                    <label for="{{ datum['questioncode'] }}"> {{ datum["displaytext"] }} </label>
                                                </p>
                                            </td>

                                            <td class="table__cell ">
                                                {% if datum['type'] == 'NUMERIC' %}
                                                    <p class="field">
                                                        <input name="{{ datum['questioncode'] }}" value="{{ datum['response'] }}" type="number" id="{{ datum['questioncode'] }}" class="input input--text input-type__input input--w-10">
                                                    </p>
                                                {% else %}
                                                    <p class="field">
                                                        <input name="{{ datum['questioncode'] }}" value="{{ datum['response'] }}" type="text" id="{{ datum['questioncode'] }}" class="input input--text input-type__input input--w-10">
                                                    </p>
                                                {% endif %}
                                            </td>

                                            <td class="table__cell ">
                                            </td>

                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        {% if override_button %}
                            <hr>
                            <fieldset class="fieldset">
                                <legend class="fieldset__legend u-vh">Override all</legend>
                                <p class="checkboxes__label"></p>
                                <span class="checkboxes__items ">
                                    <p class="checkboxes__item">
                                        <span class="checkbox input--w-10 ">
                                            <input type="checkbox" id="select-all" class="checkbox__input js-checkbox " value="Select All" name="select-all-checkbox" onclick="select_all(this)">
                                            <label id="label-select-all" class="checkbox__label " for="select-all">Override all</label>
                                        </span>
                                    </p>
                                </span>
                            </fieldset>
                        {% endif %}

                        <br>
                        <br>

                        <button class="btn btn--small" type="submit" id="saveFormButton" value="save-and-validate" name="action">
                            <span class="btn__inner">Save and validate</span>
                        </button>

                        <button class="btn btn--small" type="submit" value='override' name='action' id='override_button'>
                            <span class="btn__inner">Override</span>
                        </button>
                    </section>


                    <section id="tabId2" class="tabs__panel">

                        <table class="table table--responsive">
                            <thead class="table__head">
                                <tr class="table__row">
                                    <th scope="col" class="table__header">
                                        <span>Question</span>
                                    </th>
                                    {% for row in historic_data['history_data'] %}
                                        <th scope="col" class="table__header table__cell--numeric">
                                            <span>{{ row['period'] }}</span>
                                        </th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            
                            <tbody class="table__body">
                                {% for row in grouped_historic_data.items() %}
                                    <tr class="table__row">
                                        <td class="table__cell" data-th="Question">
                                            {{ row[0] }}
                                        </td>
                                        {% for response in row[1] %}
                                        <td class="table__cell table__cell--numeric">
                                            {{ response }}
                                        </td>
                                        {% endfor %}
                                    </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </section>
                
                </form>

            </section>

            <br>
            <br>
            <br>

        </div>
    </div>
</div>


<script>
    var override_button = document.getElementById("override_button")
    override_button.addEventListener("click", function()
    {var checkboxes = document.getElementsByName("override-checkbox");
        var reference  = "{{ contributor_details['reference'] }}";
        var period     = "{{ contributor_details['period'] }}";
        var survey     = "{{ contributor_details['survey'] }}";
        var user       = '{{ user }}';
        var checkboxes_checked = []
        var checkboxes_output  = {}
        for(var i = 0; i < checkboxes.length; i++) {
            if(checkboxes[i].checked) {
                var checkbox = {}
                checkbox["validationoutputid"] = checkboxes[i].id
                checkbox["override"]           = true
                checkbox["user"]               = user
                checkboxes_checked.push(checkbox)
            } else {
                var checkbox = {}
                checkbox["validationoutputid"] = checkboxes[i].id
                checkbox["override"]           = false
                checkbox["user"]               = user
                checkboxes_checked.push(checkbox)
            }
        }
        checkboxes_output['reference']          = reference
        checkboxes_output['period']             = period
        checkboxes_output['survey']             = survey
        checkboxes_output['validation_outputs'] = checkboxes_checked
        var js_data = JSON.stringify(checkboxes_output)
        $.ajax({
            url: 'override-validations',
            type: 'post',
            contentType: 'application/json',
            dataType: 'json',
            data: js_data,
            async: false
        })
        window.location.reload()})
</script>

<script>
    function select_all(source) {
        checkboxes = document.getElementsByName("override-checkbox");
        for(var i=0; i < checkboxes.length; i++){
            checkboxes[i].checked = source.checked;
        }
    }
</script>


{% endblock content %}
