{% extends "base.html" %}
​
{% block title %}Contributor Details{% endblock title %}
​
{% block page_header %}
​
    Data Clearing
​<script type=text/javascript src="{{ url_for('static', filename='js/takeOn.js') }}"></script>
{% endblock page_header %}

{% block content %}

​<div class="mainContent">
    <div class="grid">
        <div class="grid__col col-11@m">

            <h1>{{ contributor_details['referencename'] }}</h1>

            <dl class="metadata metadata__list grid grid--gutterless u-cf u-mb-s" title="Form details" aria-label="Form details">
                <dt class="metadata__term grid__col col-2@m u-mt-no">Reference:</dt>
                <dd class="metadata__value grid__col col-10@m u-mt-no">{{ ruref }}</dd>
                <dt class="metadata__term grid__col col-2@m u-mt-no">Survey:</dt>
                <dd class="metadata__value grid__col col-10@m u-mt-no">{{ survey }}</dd>
                <dt class="metadata__term grid__col col-2@m u-mt-no">Period:</dt>
                <dd class="metadata__value grid__col col-10@m u-mt-no">{{ period }}</dd>
                <dt class="metadata__term grid__col col-2@m u-mt-no">Cell:</dt>
                <dd class="metadata__value grid__col col-10@m u-mt-no">{{ contributor_details['cellnumber'] }}</dd>
                <dt class="metadata__term grid__col col-2@m u-mt-no">Frozen Employment:</dt>
                <dd class="metadata__value grid__col col-10@m u-mt-no">{{ contributor_details['frozenemployment'] }}</dd>
                <dt class="metadata__term grid__col col-2@m u-mt-no">Frozen SIC 2003:</dt>
                <dd class="metadata__value grid__col col-10@m u-mt-no">{{ contributor_details['frozensicoutdated'] }}</dd>
                <dt class="metadata__term grid__col col-2@m u-mt-no">Frozen SIC 2007:</dt>
                <dd class="metadata__value grid__col col-10@m u-mt-no">{{ contributor_details['frozensic'] }}</dd>
            </dl>

            <p class="u-bb u-pb-s">
                <span title="Status " class="{{ status_colour }}">{{ contributor_details['status'] }}</span>
            </p>

            <section role="region" class="tabs">
                <h2 class="tabs__title">Tabs</h2>

                <ul class="tabs__list tabs__list--row">
                    <li id="tabId1Item" class="tab__list-item">
                        <a href="#tabId1" class="tab tab--row" data-ga="click" data-ga-category="tabs" data-ga-action="Show: Current Data" data-ga-label="Show: Current Data" aria-selected="true">Current Data</a></li>
                    <li id="tabId2Item" class="tab__list-item">
                        <a href="#tabId2" class="tab tab--row" data-ga="click" data-ga-category="tabs" data-ga-action="Show: Historic Data" data-ga-label="Show: Historic Data" aria-selected="false">Historic Data</a></li>
                </ul>

                <form method="post" id="responseForm" action="{{ url_for('view_form.view_form', inqcode=survey, period=period, ruref=ruref) }}">

                    <section id="tabId1" class="tabs__panel">

                        <table id="basic-table" class="table ">

                            <thead class="table__head">
                                <tr class="table__row">
                                    <th scope="col" class="table__header col-1@m">Number</th>
                                    <th scope="col" class="table__header col-4@m">Question</th>
                                    <th scope="col" class="table__header col-2@m">Response</th>
                                    {% if survey == '888A' %}
                                        <th scope="col" class="table__header col-2@m">Adjusted Response</th>
                                    {% endif %}
                                </tr>
                            </thead>
                            
                            <tbody class="table__body">

                                {% for datum in data['form_validation_outputs'] %}
                                    <tr class="table__row">

                                        <td class="table__cell ">
                                            <p class="field">
                                                <label for="{{ datum['questioncode'] }}"> {{ datum["displayquestionnumber"] }} </label>
                                            </p>
                                        </td>

                                        <td class="table__cell ">
                                            <p class="field">
                                                <label for="{{ datum['questioncode'] }}"> {{ datum["displaytext"] }} </label>
                                            </p>
                                        </td>

                                        <td class="table__cell ">
                                            <p class="field">
                                                <input name="{{ datum['questioncode'] }}" value="{{ datum['response'] }}" type="number" id="{{ datum['questioncode'] }}" class="input input--text input-type__input input--w-10" readonly>
                                            </p>   
                                        </td>

                                        {% if survey == '888A' %}
                                        <td class="table__cell ">
                                            {% if datum['type'] == 'NUMERIC' %}
                                                {% if datum['adjustedresponse'] == NULL %}
                                                    <p class="field">
                                                        <label for="{{ datum['questioncode'] }}"></label>
                                                    </p>
                                                {% else %}
                                                    <p class="field">
                                                        <label for="{{ datum['questioncode'] }}"> {{ datum["adjustedresponse"] }} </label>
                                                    </p>
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                        {% endif %}
                                        <tr>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                        <br>
                        <br>

                    <section id="tabId2" class="tabs__panel">

                        <table class="table table--responsive">
                            <thead class="table__head">
                                <tr class="table__row">
                                    <th scope="col" class="table__header">
                                        <span>Question</span>
                                    </th>
                                    {% for row in historic_data['history_data'] %}
                                        <th scope="col" class="table__header table__cell--numeric">
                                            <span>{{ row['period'] }}</span>
                                        </th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            
                            <tbody class="table__body">
                                {% for row in grouped_historic_data.items() %}
                                    <tr class="table__row">
                                        <td class="table__cell" data-th="Question">
                                            {{ row[0] }}
                                        </td>
                                        {% for response in row[1] %}
                                        <td class="table__cell table__cell--numeric">
                                            {{ response }}
                                        </td>
                                        {% endfor %}
                                    </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </section>
                
                </form>

            </section>

            <br>
            <br>

        </div>
    </div>
</div>

{% endblock content %}
